@use '../colors';
@use '../fonts';

.alignBlocs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0rem 3rem;

  .titleContainer {
    margin-top: 2rem;

    .title {
      font-size: 1.8rem;
      margin: 0;
    }

    .subtitle {
      font-size: 0.8rem;
      color: colors.$secondary-color;
    }
  }

  .ambassadorContainer {
    display: flex;
    flex-direction: row;
  }

  .comparisonContainer {
    margin-bottom: 1.5rem;
  }

  .projectContainer {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    grid-gap: 20px;
  }
}
