@use '../colors';

.card {
  background-color: #fff;
  height: 12rem;
  width: 19rem;

  %commons {
    margin: 1rem 1rem 0 1rem;
  }

  .title {
    @extend %commons;
    font-family: "Mukta-Bold";
    font-size: 0.9rem;
    text-decoration: underline dotted;
  }

  .content {
    @extend %commons;
    font-family: "Mukta-ExtraBold";
    font-size: 2rem;
  }

  .cardBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    border-bottom: 1px dashed colors.$background;
   
    .cardText span {
      font-size: 0.8rem; 
    }

    .cardItem span {
        margin: 0 0.5rem;
        font-size: 0.8rem; 
    }
  }
}
