@font-face {
  font-family: "Mukta";
  src: local("Mukta"),
    url("../public/fonts/Mukta-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Mukta-Bold";
  src: local("Mukta"), url("../public/fonts/Mukta-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Mukta-ExtraBold";
    src: local("Mukta"), url("../public/fonts/Mukta-ExtraBold.ttf") format("truetype");
  }
